.container{
    width: 400px;
    height: 250px;
    border: 2px solid rgba(9, 75, 64, 0.802);
    border-radius: 6px;
    display: flex;
    justify-content: space-evenly;
}
.left-side{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 8px;
}
.right-side{
    background-color: rgba(33, 119, 108, 0.909);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 26px;
}
button{
    background-color: rgba(33, 119, 108, 0.909);
    margin: 10px;
    border-radius: 20px;
    border: none;
    margin: 20px;
    padding: 6px;
    color: #fff;
}
h3, label{
    color: rgba(15, 45, 42, 0.909);
    padding: 4px;
}

